<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMneDExprBG08DZ0I2Cu85m2S8lhixGss</string>
	<key>GCM_SENDER_ID</key>
	<string>265492818145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DivyaRogaNivarana</string>
	<key>PROJECT_ID</key>
	<string>divyaroganivarana</string>
	<key>STORAGE_BUCKET</key>
	<string>divyaroganivarana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265492818145:ios:91a4e57c1b19271140afa0</string>
</dict>
</plist>